<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
  colors="true"
  verbose="false"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="false"
  convertWarningsToExceptions="false"
  stopOnFailure="false">
  <testsuites>
    <testsuite name="tests">
		<directory prefix="test-" suffix=".php">./tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>